* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}

.container {
    width: 98%;
    background: black;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

.containerlogo img {
    width: 4vw;
}
.containerMenu {
    width: 60%;
}

.containerMenu nav {
    padding: 15px;
}

.containerMenu nav a {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 217, 0);
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
}
.containerMenu nav a:hover {
    color: black;
    font-size: 20px;
    padding: 10px;
    background: white;
    border-radius: 16px;
}

     
& .container1 {
    display: flex;
  
    color: rgb(255, 217, 0);
    width: 100%;
    height: 28.2vw;
    background: #000000;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

& .texto {

    width: 40vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 192, 11);
    font-size: 30px;
    margin: 15px;
    text-align: center;

}


& .divimagem {

    width: 50vw;

    & img {

        width: 49vw;
        height: auto;
       
    }
}

.exercicios {
  
    
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); 
    gap: 2vw; 
    padding: 2vw;
    
}

.exercicio {
    background-color: white;
    border: solid 3px rgb(3, 3, 3);
    border-radius: 0.8vw;
    overflow: hidden;
    box-shadow: 0 1vw 1.5vw rgba(0, 0, 0, 0.1); 
    
   
}


.exercicio img {
    width: 100%;
    height: 15vw; 
    object-fit: cover; 
}


.exercicio h3 {
    font-size: 1.2vw;
    margin: 1vw;
    
}


.exercicio p {
    font-size: 1vw;
    margin: 0 1vw 1vw;
    color: #666;
}


.exercicio a {
    color: inherit;
    text-decoration: none;
}

.exercicio a:hover h3 {
    color: rgb(224, 192, 11);
}

